*{
  margin: 0;
}

.NavFelsa{
  margin-top: 7px;
  font-family: Trebuchet MS, sans-serif;
  font-weight:bold;
  background-color: #e3231e;
  color: white;
  font-size: 27px;
}

.NavFelsa:hover{
  font-size: 30px;
  text-shadow:2px 4px black;
     transition:  0.3s; 
   }

.NOIR{
  color: black;
}
.Rs{
width: 50px;
}

.RSDIV{
  background-color:313234;
  color: darkgray;
}

#FlwUs{
  padding-top: 10px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 17px;
  color: white;
  font-weight:bold;
}

.Final{
background-color:313234;
text-align: center;
margin-right: 20px;
color: darkgray;

}
#Finale{
text-align: center;
margin-bottom: 0;
padding-bottom: 18px;
color: darkgray;
}

.h2mzayna{
  font-family: Trebuchet MS, sans-serif;
  font-size: 50px;
  font-weight:bold;
  text-shadow:0.5px 4px darkgray;
 
}

#CreditCard{
  width: 300px;
  margin-top: 20px;
}
#Adress{
  text-decoration: none;
  color: darkgray;
}
#Adress:hover{
  text-decoration: underline;
}
#FlecheHaut{
 margin-left: 30px;
  width: 30px;
}
#FlecheHaut:hover{
  opacity: 0.3;
}

#navbar-example2{
  background-image:url(5.png)!important;
}

.gallery {
   -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
}

.img-fluid{
  border: 1px solid darkgray;
}
.labelZina{
  background-color: 3d3b3b!important;
   border-color: 3d3b3b!important;
}
.linkZina{
  text-decoration: none;
  color:white;
}
.linkZina:hover{
  text-decoration: none;
  color: white;
}
.labelZina:hover{
  background-color: 3d3b3b!important;
   border-color: darkgray!important;

}

.Zoom{
  overflow: hidden;
  transition: transform .5s ease;
}

.Zoom:hover{
  transform: scale(1.1);
}
.Choose{
  background-image:url(BackgrndImg.png)!important;
}


